*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;
    width: 100%;
    background: url(temperatureBackgroundPic.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.container {
    position: relative;
    max-width: 450px;
    height: 340px;
    border-radius: 8px;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px white;
    padding: 22px;
    overflow: hidden;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

.Temperature-icon {
    font-size: 35px;
}

h1 {
    letter-spacing: 1px;
    font-family: "Times New Roman", Times, serif;
}

#celcius, #fahrenheit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

input {
    flex: 5;
    height: 55px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border-radius: 0px 0px 0px 8px;
    padding: 0 10px ;
    border: none;
}


input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.icon{
    flex: 1;
    height: 55px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 25px;
    background: rgb(193, 212, 236);
    color: black;
    border-radius: 0px 8px 0px 0px;
}

.buttonBox {
    margin-top: 30px;
    text-align: center;
    justify-content: center;

}

.buttonBox button {
    border: none;
    outline: none;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
}

.buttonBox button:hover {
    background: rgb(193, 212, 236);
}